<div id='info_edit'>
	<h1>Made with <span class='red icon'>(</span> in Denver Colorado</h1>
	<p>by <a href='http://twitter.com/meusPartum' target='_blank'>@meusPartum</a></p>
	<br/>
	<a class='button' href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=86VTZM7SCTYPE' target='_blank'>Buy me a beer</a> 
	<br/><br/>
	<!--<br/><br/>
	<br/><br/>-->
	<p><a href='https://chrome.google.com/webstore/support/aeblbmdigihnlnnmoejhagmpihfjdaab' target='_blank'>bugs / suggestions / comments?</a></p>
	<p>Love Gifme? Review it in the <a href='https://chrome.google.com/webstore/detail/gif-me/aeblbmdigihnlnnmoejhagmpihfjdaab' target='_blank'>Chrome Store</a></p>
	<p><a href='http://twitter.com/GifMeApp' target='_blank'>Follow @GifMeApp</a></p>
	<br/><br/>
	<p class='light'>&copy; 2013 <a href='http://gifme.io/' target='_blank'>Gifme</a> Version 2.6.2</p>
</div>