<div class='box' id='<%= id %>' data-url='<%= link %>'>
	<div class='static' data-image='<%= static.static.thumb.url %>'></div>
	<div class='animated' data-image='<%= link %>'></div>
	<div class='info'>
		<div class='links'>
		<div class='icon copy_link'>l</div>
		<div class='icon tag_link'>!</div>	
		</div>
		<div class='copy'><input class='link' value="<%= link %>"></div>
	</div>
</div>