<div id='upload_area'>
	<form id='upload_form' action='https://api.imgur.com/3/image' method="post" enctype="multipart/form-data">
	<h1>Upload an image to imgur</h1>
	<input type='file' name='image' id='upload_file'/>
	<input type='submit' value='upload' />
	</form>
</div>