[class^="icon-"], [class*=" icon-"] {
	font-family: 'GifMe';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e601";
}
.icon-circle-plus:before {
	content: "\e602";
}
.icon-circle-minus:before {
	content: "\e603";
}
.icon-circle-check:before {
	content: "\e604";
}
.icon-un043:before {
	content: "\e605";
}
.icon-tag:before {
	content: "\e606";
}
.icon-trash:before {
	content: "\e607";
}
.icon-maximize:before {
	content: "\e608";
}
.icon-minimize:before {
	content: "\e609";
}
.icon-plus:before {
	content: "\e60a";
}
.icon-minus:before {
	content: "\e60b";
}
.icon-check:before {
	content: "\e60c";
}
.icon-cross:before {
	content: "\e60d";
}
.icon-open:before {
	content: "\e60e";
}
.icon-user:before {
	content: "\e60f";
}
.icon-cloud:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-info:before {
	content: "\e612";
}
.icon-heart:before {
	content: "\e613";
}
.icon-tools:before {
	content: "\e614";
}
